<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
<meta name="author" content="Coderthemes">

<link rel="shortcut icon" href="~/theme2-assets/images/favicon.ico">

<title>POS</title>

<link rel="stylesheet" href="~/theme2-assets/plugins/morris/morris.css">
<link href="~/theme2-assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css">


<link href="~/theme2-assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/theme2-assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="~/theme2-assets/css/style.css" rel="stylesheet" type="text/css" />

<script src="~/theme2-assets/js/modernizr.min.js"></script>   